.symbol-label{
    display:-webkit-box;
    display:-ms-flexbox
    ;display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    font-weight:500;
    color:#3f4254;
    background-color:#f3f6f9;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    border-radius:.40rem;
}
.text-muted{color:#b5b5c3!important}
.text-dark-50{color:#7e8299!important}
.font-weight-bolder{font-weight:600!important}
.symbol.symbol-light-success .symbol-label{background-color:#c9f7f5;color:#1bc5bd}
.font-size-h5{font-size:1rem!important}
.font-weight-bold{font-weight:500!important}
.font-size-base{font-size:.9rem}
.d-none{display:none!important}
.d-md-inline{display:inline!important}
.topbar-item{display:-webkit-box;
display:-ms-flexbox;display:flex;
-webkit-box-align:center;-ms-flex-align:
center;align-items:center;

}

.topbar-item:hover {
    background-color:rgb(5, 5, 59);
    border-radius: 4px;
}

.symbol{display:inline-block;-ms-flex-negative:0;flex-shrink:0;position:relative;border-radius:.42rem}
.symbol.symbol-lg-35 .symbol-label{width:35px;height:35px}
.symbol.symbol-25 .symbol-label{width:25px;height:25px}

.perfil-usuario {
    padding: 10px;
}

.label{padding:0;margin:0;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:20px;width:20px;border-radius:50%;font-size:.8rem;background-color:#ebedf3;color:#3f4254;font-weight:400;height:20px;width:20px;font-size:.8rem}
.label.label-light-danger{color:#f64e60;background-color:#ffe2e5}
.label.label-inline{width:auto;padding:.15rem .75rem;border-radius:.42rem}

.symbol-badge{position:absolute;border:2px solid #fff;border-radius:100%;top:0;right:0}
.text-hover-primary,a.text-hover-primary{-webkit-transition:color .15s ease,background-color .15s ease,border-color .15s ease,-webkit-box-shadow .15s ease;transition:color .15s ease,background-color .15s ease,border-color .15s ease,-webkit-box-shadow .15s ease;transition:color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease;transition:color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease,-webkit-box-shadow .15s ease}
a.text-hover-primary{-webkit-transition:color .15s ease,background-color .15s ease,border-color .15s ease,-webkit-box-shadow .15s ease;transition:color .15s ease,background-color .15s ease,border-color .15s ease,-webkit-box-shadow .15s ease;transition:color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease;transition:color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease,-webkit-box-shadow .15s ease;color:#3699ff!important}
.symbol.symbol-100>img{width:100%;max-width:100px;height:100px}.symbol.symbol-100 .symbol-label{width:100px;height:100px}.symbol.symbol-100 .symbol-badge{width:12px;height:12px;top:-6px;right:-6px}.symbol.symbol-100 .symbol-badge.symbol-badge-bottom{top:auto;bottom:-6px}.symbol.symbol-100.symbol-circle .symbol-badge{top:8.5px;right:8.5px}.symbol.symbol-100.symbol-circle .symbol-badge.symbol-badge-bottom{top:auto;bottom:8.5px}.symbol.symbol-100.symbol-fixed .symbol-label{width:100px;height:100px}.symbol.symbol-100.symbol-fixed>img{width:100px;height:100px;max-width:auto}.symbol.symbol-100.symbol-2by3 .symbol-label{height:100px;width:150px}.symbol.symbol-100.symbol-2by3>img{height:100px;width:150px;max-width:auto}
.text-dark-75{color:#3f4254!important}
.btn.btn-light-primary{color:#3699ff;background-color:#e1f0ff;border-color:transparent}.btn.btn-light-primary i{color:#3699ff}
.separator{height:0; padding-top: 10px }.separator.separator-dashed{border-bottom:1px dashed #ebedf3}

.navi{padding:0;margin:0;display:block;list-style:none}
.navi .navi-item{padding:0;display:block;list-style:none}
.navi .navi-item .navi-link{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:.75rem 1.5rem}

.btn.btn-light-primary{color:#3699ff;background-color:#e1f0ff;border-color:transparent}
.btn.btn-light-primary i{color:#3699ff}
.btn.btn-light-primary.focus:not(.btn-text),.btn.btn-light-primary:focus:not(.btn-text),.btn.btn-light-primary:hover:not(.btn-text):not(:disabled):not(.disabled){color:#fff;background-color:#3699ff;border-color:transparent}
.btn.btn-light-primary.focus:not(.btn-text) i,.btn.btn-light-primary:focus:not(.btn-text) i,.btn.btn-light-primary:hover:not(.btn-text):not(:disabled):not(.disabled) i{color:#fff}
